.main-footer {
  background: linear-gradient(172deg, #237fff, #0930ff);
  padding: 12px 0;
}

li {
  list-style-type: none;
}

.form-btn {
  background: linear-gradient(172deg, #237fff, #0930ff);
}

.divinder {
  width: 100%;
  height: 1px;
  background-color: white;
}
